variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - check
  - build
  - test

#-----------------------------------------------------------------------------#
# Generic jobs
#-----------------------------------------------------------------------------#

.check-general:
  stage: check
  script:
    - ci/check_host.sh --no-dep

.build-general:
  stage: build
  before_script:
    - git config --global --add safe.directory $PWD 
  script:
    - ./build.sh
  artifacts:
    expire_in: 1 hour
    when: on_success
    paths:
      - "build/"

.test-general:
  stage: test
  script:
    - cd "build" 
    - CTEST_OUTPUT_ON_FAILURE=1 ASAN_OPTIONS=detect_leaks=1 ctest --exclude-regex AsRoot
    - sudo env "PATH=$PATH" CTEST_OUTPUT_ON_FAILURE=1 ASAN_OPTIONS=detect_leaks=1 ctest --tests-regex AsRoot

#-----------------------------------------------------------------------------#
# Specialized jobs 
#-----------------------------------------------------------------------------#

#check-ubuntu_22.04:
#  image: jfrog.svc.cscs.ch/vcef/libsarus/ubuntu:22.04 
#  extends: .check-general

#check-rockylinux_9:
#  image: jfrog.svc.cscs.ch/vcef/libsarus/rockylinux:9
#  extends: .check-general

check-opensuse_leap_15:
  image: jfrog.svc.cscs.ch/vcef/libsarus/opensuseleap:15 
  extends: .check-general

#build-ubuntu_22.04:
#  image: jfrog.svc.cscs.ch/vcef/libsarus/ubuntu:22.04 
#  extends: .build-general

#build-rockylinux_9:
#  image: jfrog.svc.cscs.ch/vcef/libsarus/rockylinux:9
#  extends: .build-general

build-opensuse_leap_15:
  image: jfrog.svc.cscs.ch/vcef/libsarus/opensuseleap:15 
  extends: .build-general

#test-ubuntu_22.04:
#  image: jfrog.svc.cscs.ch/vcef/libsarus/ubuntu:22.04 
#  extends: .test-general

#test-rockylinux_9:
#  image: jfrog.svc.cscs.ch/vcef/libsarus/rockylinux:9 
#  extends: .test-general

test-opensuse_leap_15:
  image: jfrog.svc.cscs.ch/vcef/libsarus/opensuseleap:15 
  extends: .test-general
