variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - build
  - test

build-ubuntu_22.04:
  image: jfrog.svc.cscs.ch/vcef/libsarus/ubuntu:22.04 
  stage: build
  before_script:
    - git config --global --add safe.directory $PWD 
  script:
    - ./build.sh
  artifacts:
    when: on_success
    paths:
      - "build/"

#build-opensuseleap_15:
#  stage: build
#  script:
#    - echo "Compiling the code..."
#    - echo "Compile complete."

#build-rocky_9:
#  stage: build
#  script:
#    - echo "Compiling the code..."
#    - echo "Compile complete."

test-ubuntu_22.04:
  image: jfrog.svc.cscs.ch/vcef/libsarus/ubuntu:22.04 
  stage: test
  script:
    - cd "build" 
    - CTEST_OUTPUT_ON_FAILURE=1 ASAN_OPTIONS=detect_leaks=1 ctest --exclude-regex AsRoot
    - sudo CTEST_OUTPUT_ON_FAILURE=1 ASAN_OPTIONS=detect_leaks=1 ctest --tests-regex AsRoot
