variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - format    # Check code formatting
  - check     # Check runners
  - build     # Build libsarus
  - test      # Run tests

#-----------------------------------------------------------------------------#
# Generic jobs
#-----------------------------------------------------------------------------#

.format-general:
  image: jfrog.svc.cscs.ch/vcef/libsarus/formatting:latest 
  stage: format
  script:
    - pre-commit install
    - pre-commit run --all-files

.check-general:
  stage: check
  script:
    - ci/check_host.sh --no-dep

.build-general:
  image: jfrog.svc.cscs.ch/vcef/libsarus/${IMAGE_NAME} 
  stage: build
  before_script:
    - git config --global --add safe.directory $PWD 
  script:
    - ./build.sh -DBUILD_DIR=$PWD/build-${IMAGE_NAME//:/_}
  artifacts:
    expire_in: 1 hour
    when: on_success
    paths:
      - "build-${IMAGE_NAME//:/_}"

.test-general:
  image: jfrog.svc.cscs.ch/vcef/libsarus/${IMAGE_NAME} 
  stage: test
  script:
    - cd "build-${IMAGE_NAME//:/_}" 
    - ASAN_OPTIONS=detect_leaks=1 ctest --exclude-regex AsRoot
    - sudo env "PATH=$PATH" ASAN_OPTIONS=detect_leaks=1 ctest --tests-regex AsRoot

#-----------------------------------------------------------------------------#
# Specialized jobs 
#-----------------------------------------------------------------------------#
      
format:
  extends: .format-general

# NOTE: all images should pass the check if and only if any image passes it.
check-unified:
  extends: .check-general

build-ubuntu_22.04:
  extends: .build-general
  variables:
    IMAGE_NAME: ubuntu:22.04

build-rockylinux_9:
  extends: .build-general
  variables:
    IMAGE_NAME: rockylinux:9 

build-opensuseleap_15:
  extends: .build-general
  variables:
    IMAGE_NAME: opensuseleap:15

test-ubuntu_22.04:
  extends: .test-general
  variables:
    IMAGE_NAME: ubuntu:22.04

test-rockylinux_9:
  extends: .test-general
  variables:
    IMAGE_NAME: rockylinux:9 

test-opensuseleap_15:
  extends: .test-general
  variables:
    IMAGE_NAME: opensuseleap:15
