[submodule "dep/rapidjson"]
	path = dep/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "ci/spack"]
	path = ci/spack
	url = https://github.com/spack/spack.git
[submodule "dep/googletest"]
	path = dep/googletest
	url = https://github.com/google/googletest.git
